/* All styling for Mayah Alam's Website */
body  {
    font-family: sans-serif, arial;
}

/* body div {
    margin: 40px;
} */

.title, .about {
    text-align: center;
}

.project {
    text-align: left;
}

.project h5 {
    margin-left: 100px;
    margin-right: 100px;
    margin: 30px;
}

body p {
    font-size: large;
    margin-left: 100px;
    margin-right: 100px;
    margin: 30px;
}

/*nav modified from w3 schools*/
#nav {
    overflow: hidden;
    margin: 20px;
}

#nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

#nav a:hover {
    color: rgb(17, 147, 194);
}

#nav img {
    height:auto;
    width:20px;
}

#nav .active {
    color: rgb(17, 147, 194);
}

p a {
    color: rgb(17, 147, 194);;
    text-decoration: none;
}

.project .key {
    color:rgb(17, 147, 194); 
    text-decoration: underline;
}

#landing-images {
    max-width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#landing-images img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 20px;
}